h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
body {
  margin: 30px 0 auto;
}

img.forecast-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 900px;
}
.container-wrapper {
  background: #f1faee;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.row {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.col {
  text-align: center;
  width: 100%;
  font-size: 24px;
}
.search {
  max-width: 40%;
}
.input-group-text {
  font-family: "Poppins", sans-serif;
  transition: all 100ms ease-in-out;
}
.input-group-text:hover {
  cursor: pointer;
  background-color: black;
  color: #f1faee;
}
.degrees {
  font-size: 15px;
}
.footer {
  text-align: center;
}
.icon {
  display: inline;
}
.temperature {
  display: inline;
  vertical-align: middle;
}
.position {
  position: relative;

  left: 85%;
}
.selected {
  color: black;
  text-decoration: none;
}
.selected:hover {
  cursor: default;
}

.forecast-col {
  font-size: 18px;
}
